.imageWidth{
width: 350px;
height: auto;
}
.pricebuttonclass{
    display: flex;
    justify-content: space-between;
    margin:0px 15px;
    font-size: 1rem;
}
.pricebuttonclass>button:hover{
    
    border : 2px solid red;
}
